/* 套用網站所有內容 */
body {
    /* 移除瀏覽器邊界設定(版面可完全貼齊畫面) */
    margin: 0;
    font-family: sans-serif;
    background-color: #FFEAEA;
    color: #333;
}

header {
    background-color: #F5CBCB;
    /* 標題和導覽列文字置中 */
    text-align: center;
    /* 增加內距使文字不要太貼邊 */
    padding: 1em;
}

header h1 {
    /* 移除預設上下空白(精準控制間距) */
    margin: 0;
    font-size: 1.5em;
    color: #748DAE;
}

nav a {
    color: #748DAE;
    /* 上下邊距0 左右邊距0.5 */
    margin: 0 0.5em;
    /* 移除預設底線 */
    text-decoration: none;
}

/* 提供使用者可點擊提示 */
nav a:hover {
    /* 滑鼠移至導覽列連結顯示底線 */
    text-decoration: underline;
}

/* 設定各section區塊統一內距置中 */
section {
    padding: 2em 1em;
    text-align: center;
}

/* 設定各區塊顏色辨識 */
.banner {
    background-color: #9ECAD6;
    color: white;
}
.countdown {
    background-color: #F5CBCB;
}
.support {
    background-color: #FFEAEA;
}
.video {
    background-color: #9ECAD6;
    color: while;
}
.lyrics {
    background-color: #F5CBCB;
}

footer {
    background-color: #748DAE;
    color: white;
    text-align: center;
    padding: 1em;
}

/* RWD響應式設定 */
/* 設定手機&平板寬度(標題字縮小&導覽列改上下堆疊增加典籍範圍) */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.2em
    }
    nav a {
        /* 顯示行內區塊 */
        display: inline-block;
        margin: 0.2em;
    }
}